<!DOCTYPE html>
<html>
<head>
  <title>Moobook - A Social Network for Cows</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="//use.typekit.net/yku3fcp.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <script type="text/javascript" src="https://taurusio-demo.herokuapp.com/taurus.js"></script><script type="text/javascript">try{Taurus.load({key:"stSLePVQ", visitor: "<%= @visitor_token %>" })}catch(e){};</script>
</head>
<body id="landing">
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
